/* :root {
    --bg-img-url: {{ url_for('static', filename= 'images/landing-2.jpeg') }}
} */

.landing-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.8;
    z-index: -1;
}


.landing-text{
    z-index: 10000;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}