/* :root {
    --background-url: {{ url_for('static', filename= 'images/landing-2.jpeg') }}
} */

.landing-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    opacity: 0.6;
    z-index: -1;
}


.landing-text{
    z-index: 10000;
    position: relative;
    background: rgba(220, 220, 220, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 10px;
}

.content-section {
    background: #f0f0f0;
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .landing-bg{
    background-image: url("../images/landing-2.jpeg") ;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

