<!-- PAGE CONTENTS:
 navbar : settings - edit profile, notifications
 Company information, Active Campaigns list, Creator request list -->

{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img src="{{ image_file }}" alt="user-profile-picture" class="rounded-circle account-img">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2 class="account-name"> {{current_user.username}}</h2>
                <p class="text-secondary">{{ current_user.email  }}</p>
                <p class="h3">{{ sponsor_data.company  }}</p>
                <p class="article-content">
                    <span> Website : <a href="{{ sponsor_data.website }}" target="_blank"> {{ sponsor_data.website }}</a></span>
                    <span> Name: {{ current_user.firstname }} {{ current_user.lastname }}</span>
                    <span> Industry : {{ sponsor_data.industry }} </span>
                </p>
                <p class="article-content">Company Addresss : {{ sponsor_data.company_address }}</p>
            </div>
        </div>
        <div class="text-end"> 
            <a class="btn btn-outline-dark" href="{{url_for('sponsor_profile')}}">Update Profile</a> 
        </div>
    </div>

    <div class="container"> 
        <div class="row ">
            <div class="col-md-6">
                <div class="content-section">
                    <h2 class="fs-4"> Active Campaigns</h2>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="content-section">
                    <h2 class="fs-4"> New requests </h2>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}