<!-- PAGE CONTENTS:
 Simple registration form
 Basic ields: First name, last name, username, email, phone number, password, confirm password 
 Company information : company/individual name, industry, website, company address, social media links (atleast one link)
 -->

 {% extends "prelayout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/register.css')}}" >
    
{%endblock head %}

{% block content %}
    <img src="{{ url_for('static', filename = 'images/landing-2.jpeg') }}" class="landing-img">

    <div class="register-box container mt-5 mb-5">
        <div class="text-center mb-4 ">
            <h1 class="mb-4">Register as Sponsor</h1>
        </div>
        <hr>
        <form method="POST" action="{{ url_for('sponsor_register') }}">
            {{ sponsor_form.hidden_tag() }}

            <p class="text-start lead"> Basic Data </p>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ sponsor_form.firstname.label (class='form-label') }}
                    {% if sponsor_form.firstname.errors %}
                        {{ sponsor_form.firstname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.firstname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.firstname(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ sponsor_form.lastname.label (class='form-label') }}
                    {% if sponsor_form.lastname.errors %}
                        {{ sponsor_form.lastname(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.lastname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.lastname(class="form-control") }}
                    {% endif %}
                </div>
            </div>

            <div class="form-group d-flex align-items-center mb-3">
                <div class="col-md-2"> {{ sponsor_form.username.label (class='form-label') }} </div>
                <div class="col-md-auto d-flex flex-row">
                    {% if sponsor_form.username.errors %}
                        {{ sponsor_form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.username(class="form-control", aria_describedby="usernameHelp") }}
                        <span id="usernameHelp" class="form-text"> Usernames must be 4-16 characters long.</span>
                    {% endif %}
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ sponsor_form.email.label (class='form-label') }}
                    {% if sponsor_form.email.errors %}
                        {{ sponsor_form.email(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.email(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ sponsor_form.phone_number.label (class='form-label') }}
                    {% if sponsor_form.phone_number.errors %}
                        {{ sponsor_form.phone_number(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.phone_number.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.phone_number(class="form-control ") }}
                    {% endif %}
                </div>
            </div>

            <hr>
            <p class="text-start lead"> Profile Data</p>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ sponsor_form.company_name.label (class='form-label') }}
                    {% if sponsor_form.company_name.errors %}
                        {{ sponsor_form.company_name(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.company_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.company_name(class="form-control ") }}
                    {% endif %}
                </div>
            </div>
            
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ sponsor_form.industry.label (class='form-label') }}
                    {% if sponsor_form.industry.errors %}
                        {{ sponsor_form.industry(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.industry.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.industry(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ sponsor_form.website.label (class='form-label') }}
                    {% if sponsor_form.website.errors %}
                        {{ sponsor_form.website(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.website.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.website(class="form-control ") }}
                    {% endif %}
                </div>
            </div>
            
            <div class="form-group mb-3">
                {{ sponsor_form.company_address.label (class='form-label') }}
                {% if sponsor_form.company_address.errors %}
                    {{ sponsor_form.company_address(class="form-control  is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in sponsor_form.company_address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ sponsor_form.company_address(class="form-control ") }}
                {% endif %}
            </div>

            <hr>
            <p class="text-start lead"> Finally, set a password and we are done! </p>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ sponsor_form.password.label (class='form-label') }}
                    {% if sponsor_form.password.errors %}
                        {{ sponsor_form.password(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.password(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ sponsor_form.confirm_password.label (class='form-label') }}
                    {% if sponsor_form.confirm_password.errors %}
                        {{ sponsor_form.confirm_password(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in sponsor_form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ sponsor_form.confirm_password(class="form-control ") }}
                    {% endif %}
                </div>
            </div>

            <div class="pt-3 d-grid gap-2 col-2 mx-auto form-group">
                {{ sponsor_form.submit(class="btn btn-outline-dark  py-2") }}
            </div>
        </form>
        <hr>
        <div class="mb-3 fs-6">
            <p>Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Login now!</a></p>
            <p>Want to register as influencer? <a class="ml-2" href="{{ url_for('creator_register') }}">Click here</a></p>
        </div>
    </div>

{% endblock content%}