<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/landing.css') }}" rel="stylesheet">

    <title>IESCP - Welcome</title>
</head>
<body>
    <header>

    </header>
    <main>
    <div class="container text-center">
        <img src="{{ url_for('static', filename = 'images/landing-2.jpeg') }}" class="landing-img">
        <div class="landing-text jumbotron mt-5">
            <h2 class="display-4">Welcome to IESCP</h2>
            <p class="lead">Are you a company sponsoring an advertisement campaign or a creator?</p>
            <hr class="my-2">
            <p>IESCP is a platform that offers sponsors host ad-campaigns seamlessly and hepl creators grow by connecting them with opportunities.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Register</a>
            <a class="btn btn-secondary btn-lg" href="#" role="button">Sign In</a>
        </div>
    </div>
    
    </main>
    
    <footer>

    </footer>
</body>
</html>
