<!-- PAGE CONTENTS:
 Serves as home page after login/register for both creators and sponsors
 contains public ads, browse creators carousel, browser sponsors carousel -->

{% extends "layout.html" %}
{% block content %}

        {% for post in ads_posts %}
            <article class="d-flex content-section">
                <div class="flex-shrink-0">
                    <img src="{{ url_for('static', filename='images/profile_pics/'+ post.author.common_user.profile_pic) }}" alt="{{post.author.common_user.username}}'s profile image" class="rounded-circle account-img">
                </div>
                <div class="flex-grow-1 ms-3">
                    <div class="article-metadata justify-content-between"> 
                        <a class="h5" href="#" style="margin-right: 1rem;"> {{ post.author.common_user.username }}</a>
                        <small class="text-muted"> {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h3><a class="article-title h3" href="{{ url_for('post',post_id=post.id)}}"> {{ post.title }} </a></h3>
                    <p class="text-muted">{{ post.author.company }}</p>
                    <p class="article-content"> {{ post.description }} </p>
                </div>
            </article>
        {% endfor %}

{% endblock content %}
