{% extends "prelayout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landing.css') }}" >
{% endblock head %}

{% block content %}
        <img src="{{ url_for('static', filename = 'images/landing-2.jpeg') }}" class="landing-img">
        <div class="landing-text p-5 rounded-lg m-5"> 
            <!-- used p-5 rounded-lg m-5 instead of jumbotron becoz deprecated -->
            <h2 class="display-4">Welcome to IESCP</h2>
            <p class="lead">Are you a company sponsoring an advertisement campaign or a creator?</p>
            <hr class="my-2">
            <p>IESCP is a platform that offers sponsors host ad-campaigns seamlessly and help creators grow by connecting them with opportunities.</p>
            <a class="btn btn-outline-dark" href="{{ url_for('creator_register') }}" role="button">Influencer Register</a>
            <a class="btn btn-outline-dark" href="{{ url_for('sponsor_register') }}" role="button">Sponsor Register</a>

            <p class="pt-4">Already have an account?</p>
            <a class="btn btn-outline-primary" href="{{ url_for('login')}}" role="button">Sign In</a>
        </div>

{% endblock content %}