{% extends "prelayout.html" %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}" >

{%endblock head %}

{% block content %}
    <img src="{{ url_for('static', filename = 'images/landing-2.jpeg') }}" class="landing-img">

    <div class="login-box">
        <form method="POST" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 fw-normal"> Reset Password </h1>
            <hr>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <br>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-dark py-2") }}
            </div>

        </form>
        <hr>
        <div>
            <small>
                Don't have an account? <a class="ml-2" href="{{url_for('landing') }}">Register now!</a>
            </small>
        </div>
    </div>

{% endblock content%}