<!-- PAGE CONTENTS:
  Creator information, active campaigns list, requests lists -->

{% extends "layout.html" %}

{% block content %}
    <div class="content-section">
        <div class="d-flex">
            <div class="flex-shrink-0">
                <img src="{{ image_file }}" alt="user-profile-picture" class="rounded-circle account-img">
            </div>
            <div class="flex-grow-1 ms-3">
                <h2 class="account-name"> {{current_user.username}}</h2>
                <p class="text-secondary">{{ current_user.email  }}</p>
                <p class="h3">{{ current_user.firstname }} {{ current_user.lastname }}</p>
                <p class="text-secondary"> Social Links :
                    {% if creator_data %}
                        {% if creator_data.social_link_1 %}
                            <a href="{{ creator_data.social_link_1 }}" target="_blank"> {{ creator_data.social_link_1 }}</a>
                        {% endif %}
                        {% if creator_data.social_link_2 %}
                            , <a href="{{ creator_data.social_link_2 }}" target="_blank"> {{ creator_data.social_link_2 }}</a>
                        {% endif %}
                        {% if creator_data.social_link_3 %}
                            , <a href="{{ creator_data.social_link_3 }}" target="_blank">{{ creator_data.social_link_3 }}</a>
                        {% endif %}
                    {% endif %}
                </p>
                <p class="article-content">
                    <span> Category : {{ creator_data.category }} </span>
                    <span> Date of Birth : {{ creator_data.dob }} </span>
                    <span> Location : {{ creator_data.location}} </span>
                </p>
                <p class="article-content">Bio : {{ creator_data.bio }}</p>
            </div>
        </div>
        <div class="text-end"> 
            <a class="btn btn-outline-dark" href="{{url_for('creator_profile')}}">Update Profile</a> 
        </div>
    </div>

    <div class="container"> 
    <div class="row ">
        <div class="col-md-6">
            <div class="content-section">
                <h2 class="fs-4"> Active Campaigns</h2>
                
                {% for ad_post in all_adreq %}
                        <article class="d-flex content-section">
                            <div class="flex-grow-1 ms-3">
                                <div class="article-metadata"> 
                                    <a class="mr-2" href="{{ url_for('view_adreq', ad_id=ad_post.id) }}" style="margin-right: 1rem;"> {{ ad_post.post.title }}</a>
                                    <small class="text-muted"> {{ ad_post.sender.username }}</small>
                                </div>
                                <p class="article-content"> {{ ad_post.description }} </p>
                            </div>
                            <div class="flex-shrink-0 mt-3">
                                {% if ad_post.status=='pending' %}
                                    <button type="button" class="btn btn-warning" disabled> Pending </button>
                                {% endif %}
                                {% if ad_post.status=='accepted' %}
                                    <button type="button" class="btn btn-success" disabled> Accepted </button>
                                {% endif %}
                                {% if ad_post.status=='rejected' %}
                                    <button type="button" class="btn btn-danger" disabled> Rejected </button>
                                {% endif %}
                            </div>
                        </article>
                {% endfor %}
                <div class="text-end">
                    <a href="{{ url_for('campaign') }}" >See more</a>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="content-section">
                <h2 class="fs-4"> New requests </h2>
                {% for ad_post in rec_adreq %}
                        <article class="d-flex content-section">
                            <div class="flex-grow-1 ms-3">
                                <div class="article-metadata"> 
                                    <a class="mr-2" href="{{ url_for('view_adreq', ad_id=ad_post.id) }}" style="margin-right: 1rem;"> {{ ad_post.post.title }}</a>
                                    <small class="text-muted"> {{ ad_post.sender.username }}</small>
                                </div>
                                <p class="article-content"> {{ ad_post.description }} </p>
                            </div>
                            <div class="flex-shrink-0 mt-3">
                                {% if ad_post.status=='pending' %}
                                    <button type="button" class="btn btn-warning" disabled> Pending </button>
                                {% endif %}
                                {% if ad_post.status=='accepted' %}
                                    <button type="button" class="btn btn-success" disabled> Accepted </button>
                                {% endif %}
                                {% if ad_post.status=='rejected' %}
                                    <button type="button" class="btn btn-danger" disabled> Rejected </button>
                                {% endif %}
                            </div>
                        </article>
                {% endfor %}
                {% for page_num in rec_adreq.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if rec_adreq.page == page_num %}
                                <a class="btn btn-dark mb-3" href="{{ url_for('dashboard', newreq=page_num) }}"> {{ page_num }}</a>
                        {% else %}
                                <a class="btn btn-outline-dark mb-3" href="{{ url_for('dashboard', newreq=page_num) }}"> {{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock content %}