{% extends "layout.html" %}

{% block content %}
    <h1>Browse Campaigns</h1>

    <div class="mb-3">
        <p class="h4"> Implement search here </p>
        <div class="content-section">
            <form method="GET" action="{{ url_for('browse') }}">
                <input type="text" name="search" placeholder="Search for campaigns..." value="{{ request.args.get('search', '') }}" class="form-control mb-3">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>

    {% for post in all_camps.items %}
            <article class="d-flex content-section">
                <div class="flex-shrink-0">
                    <img src="{{ url_for('static', filename='images/profile_pics/'+ post.author.common_user.profile_pic) }}" alt="{{post.author.common_user.username}}'s profile image" class="rounded-circle account-img" style="height:80px;width:80px">
                </div>
                <div class="flex-grow-1 ms-3">
                    <div class="article-metadata justify-content-between"> 
                        <a class="h5" href="{{ url_for('sponsor_view',username=post.author.common_user.username) }}" style="margin-right: 1rem;"> {{ post.author.common_user.username }}</a>
                        <small class="text-muted"> {{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <h3><a class="article-title h4" href="{{ url_for('post',post_id=post.id)}}"> {{ post.title }} </a></h3>  
                    <p class="article-content">
                        <span class="text-muted"> {{ post.author.company }} </span>
                        <span>{{ post.description[:70] }}  <a href="{{ url_for('post',post_id=post.id)}}"><em>...read more</em> </a> </span>
                        <span> Budget :  {{ post.budget }} </span>
                    </p>
                </div>
            </article>
        {% endfor %}
        {% for page_num in all_camps.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                {% if all_camps.page == page_num %}
                    <a class="btn btn-dark mb-3" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-dark mb-3" href="{{ url_for('home', page=page_num) }}"> {{ page_num }}</a>
                {% endif %}
            {% else %}
                ...
            {% endif %}
        {% endfor %}


{% endblock content %}
