{% extends "layout.html" %}

{% block content %}
        <!-- UPDATE FORM HERE -->
        <div class="content-section">
            <div class="text-center mb-4 ">
                <h1 class="fs-4 mb-2"> Update profile information</h1>
            </div>
            <hr>
            
            <form method="POST" action="{{ url_for('creator_profile') }}">
                {{ update_form.hidden_tag() }}
                
                <p class="text-start lead"> Basic Data </p>
    
                <div class="form-group d-flex align-items-center mb-3">
                    <div class="col-md-2"> {{ update_form.username.label (class='form-label') }} </div>
                    <div class="col-md-auto d-flex flex-row">
                        {% if update_form.username.errors %}
                            {{ update_form.username(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in update_form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ update_form.username(class="form-control", aria_describedby="usernameHelp") }}
                            <span id="usernameHelp" class="form-text"> Usernames must be 4-16 characters long.</span>
                        {% endif %}
                    </div>
                </div>
    
                <hr>
                <p class="text-start lead"> Profile Data</p>
    
                <div class="row mb-3">
                <div class="form-group col-md-4">
                    {{ update_form.social_1.label (class='form-label') }}
                    {% if update_form.social_1.errors %}
                        {{ update_form.social_1(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.social_1.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.social_1(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ update_form.social_2.label (class='form-label') }}
                    {% if update_form.social_2.errors %}
                        {{ update_form.social_2(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.social_2.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.social_2(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-4">
                    {{ update_form.social_3.label (class='form-label') }}
                    {% if update_form.social_3.errors %}
                        {{ update_form.social_3(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.social_3.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.social_3(class="form-control ") }}
                    {% endif %}
                </div>
                </div>
    
                <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ update_form.profile_pic.label (class='form-label') }}
                    {% if update_form.profile_pic.errors %}
                        {{ update_form.profile_pic(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.profile_pic.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.profile_pic(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ update_form.category.label (class='form-label') }}
                    {% if update_form.category.errors %}
                        {{ update_form.category(class="form-select  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.category.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.category(class="form-select ") }}
                    {% endif %}
                </div>
                </div>
                
                <div class="row mb-3">
                <div class="form-group col-md-6">
                    {{ update_form.location.label (class='form-label') }}
                    {% if update_form.location.errors %}
                        {{ update_form.location(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.location(class="form-control ") }}
                    {% endif %}
                </div>
                <div class="form-group col-md-6">
                    {{ update_form.date_of_birth.label (class='form-label') }}
                    {% if update_form.date_of_birth.errors %}
                        {{ update_form.date_of_birth(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.date_of_birth.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.date_of_birth(class="form-control ") }}
                    {% endif %}
                </div>
                </div>
    
                <div class="form-group">
                    {{ update_form.biodata.label (class='form-label') }}
                    {% if update_form.biodata.errors %}
                        {{ update_form.biodata(class="form-control  is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in update_form.biodata.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ update_form.biodata(class="form-control ") }}
                    {% endif %}
                </div>

                <div class="pt-3 d-grid gap-2 col-2 mx-auto form-group">
                    {{ update_form.submit(class="btn btn-outline-dark  py-2") }}
                </div>
            </form>        
        </div>

{% endblock content %}